/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	/*max-width: 1140px;
	margin:auto;*/
	font-family: 'Work Sans' ;
	font-size: 14px;
}

.whole
{
	max-width: 1140px;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	
}
.gallery {
	/*width: 100%;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.galery-modal

{
	display: flex;
	flex-wrap: wrap;
	width: 350px;
	/*justify-content: center;*/
	padding-left: 160px;
	column-gap: 8px;
	row-gap: 8px;


}

a
{
	
display: flex;	
color: black;
justify-content: center;
align-items: center;

}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/******LA MODALE******/

.modal
{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	/*width: 630px;
	height: 670px;*/
	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper
{
	overflow: auto;
	background-color:#fff;
	width: 630px;
	height: 670px;
	max-width: calc( 100wh - 20px);
	max-height: calc( 100vh - 20px);
	padding: 20px;
	
}

.first-modal .projects-galery img {
	
	display: flex;
	flex-wrap: wrap;
}


.hidden
{

	display: none!important;
	visibility: hidden;
}

.filtre
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	padding: 10px;
	height: 50px;
}

.filtre button
{
	/*width : 8%;*/
	border-radius: 35px ;
	height: 40px;
	border-color: #1D6154;
	background-color: #fff;
	color: #1D6154;
	padding: 0 29px 0 29px;
	font-family: "syne";
	cursor: pointer;
}

button.hello
{
	background-color: #1D6154;
	color: #fff;
	
}




  /*.filtre button:clic {
	color: red;
  }*/

/*#Objets
{
	width : 8%;
	height: 40px;
	border-radius: 35px;
	border-color: #1D6154;
	background-color: #fff;
	color: #1D6154;

}

#Appartements
{
	width : 20%;
	height: 40px;
	border-radius: 35px;
	border-color: #1D6154;
	background-color: #fff;
	color: #1D6154;

}

#Hotels  .restaurants
{
	width : 30%	;
	height: 40px;
	border-radius: 35px;
	border-color: #1D6154;
	background-color: #fff;
	color: #1D6154;
}*/



#titlemodale 
{
	display: flex;
	justify-content: center;
	
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: center;
	margin-bottom: 20px;

}


.js-modal-close
{
	display: flex;
	margin-left: 600px;
	background-color: #ffffff;
	border: 0px;
	

}


.js-modal-back
{
	display: flex;
	margin-left: 10px;
	background-color: #ffffff;
	border: 0px;
}



.ajt-photo
{
	margin-top: 10px;
	display: flex;
	justify-content: center;

}

#delete-gallery
{
	margin-top: 20px;
	justify-content: center;
	display: flex;
	color: #D65353;
	
}

.ajoutPhoto 
{

	font-family: "syne";
	width : 50%	;
	height: 36px;
	border-radius: 35px;
	border: 0px;
	border-color: #1D6154;
	background-color: #1D6154;
	color: #fff ;	
	
}



.galery {
	width: 100%;
	display: flex;
	grid-template-columns: 0.3fr 0.3fr 0.3fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	justify-content: center;
	 }

.upload
{
	/*display: flex;
	justify-content: center;
	align-items: center;
	height: 140px;
	width: 90%;
	flex-direction: column;
	background-color: #E8F1F6;
	border-radius: 9px;*/

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E8F1F6;
	flex-direction: column;

	/*width: 420px;*/
	/*height: 240px;*/
	top: 786px;
	left: 510px;
	border-radius: 3px;

}

.upload_title
{
	display: flex;
	width: 100%;
	flex-direction: column;
	padding-top: 20px;
	/*padding-bottom: 20px;*/
}



#title
{
	
	justify-content: center;
	align-items: center;
	height: 30px;
	
}

.category
{
	display: flex;
	flex-direction: column;
	padding-top: 20px;
}

#category
{
	height: 35px;
}

#paraicon
{
	color:  #B9C5CC;
	padding: 20px;
}

#paragimg
{
	padding: 10px;
}


.galery-modal figure
{
	position: relative;
}

.galery-modal button
{
	border-radius: 4px;
	position: absolute;
	top : 7px;
	left : 40px;
	background: #000000;
	
}




#error-img, #error-title, #error-category 
{
	font-size: 11px;
	/*font-family: 'Work Sans';*/
	line-height: 13px;
	color: red;
    align-self: flex-start;
    padding-left: 40px;
}


#textfield_work_title
{
	width: 610px;
	height: 51px;
	top: 1011px;
	left: 510px;

	box-shadow: 0px 4px 14px 0px #f3f1f1;
	background: #FFFFFF;


}


#category
{
	
	height: 51px;
	top: 1109px;
	left: 510px;
	box-shadow: 0px 4px 14px 0px #f3f1f1;
	background: #FFFFFF;
}

.picture_input input[type="file"] {
    display: none;

	 }

	 .picture_input{
		height: 31px;
	 width: 41%;
	 border-radius: 25px;
	 background: rgba(203, 214, 220, 1);
	 color: rgba(48, 102, 133, 1);
	 font-family: "Work Sans";
	 font-size: 13px;
	 font-weight: 500;
	 line-height: 16px;
	 letter-spacing: 0em;
	 }


	 .picture_input p {
		font-family: "Work Sans";
		font-size: 10px;
		font-weight: 400;
		line-height: 12px;
		letter-spacing: 0em;
		text-align: center;
	}


	.projet-m
	{
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}


	.picture_input 
	{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	 

.confirmDisable
{
	background-color:  #B3B3B3;
}

input[type="file"]{
	display: none;
}


#previewimg 
{
	width: auto;
	height: 210px;
}


.center
{
	margin-top: 100px;
	width:350px;
}


.centreTwo
{
	margin-top: 100px;
	width: 350px;
}

.edit_mode
{
	background-color: #000000;
	height: 25px;
}

.edit_mode span
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.edit_mode a
{
	margin: 5px;
	/*text-decoration: none;*/
	color: #fff;
}

.edit_mode i
{
	color: #fff;
}

#error
{
	color: #D65353;
}